
<div class="container">
<div class="row" >
<div class="col-4" *ngFor="let item of produits">
    <div class="card " style="
    margin-right: 18px;
     margin-bottom: 12px;" >
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.nomProduit}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h5 class="card-title">{{item.prixProduit}} DT</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
</div>
    
</div>
</div>